<div class="container-fluid">
    <form action="" class="">
        <div class="form-inline">
            <input class="form-control" style="width: 50%!important;background-color: white" type="text">
            <button class="btn btn-info btn-fill form-control ">
                <i class="ti-search"></i>
                Search</button>
        </div>

    </form>
    <div style="margin: 25px 0">
        <button class="btn btn-success btn-fill" style="margin-right: 25px">
            <span class="btn-label">
                <i class="ti-plus"></i>
            </span> Add New Book
        </button>
        <button class="btn btn-danger btn-fill">
            <span class="btn-label">
                <i class="ti-close"></i>
            </span> Delete Many Books
        </button>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Books Table</h4>
                    <p class="category">A Table has many books in Database </p>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let book of books">
                                <td>
                                    <input type="checkbox">
                                </td>
                                <td>{{book.masach}}</td>
                                <td>
                                    <img [attr.src]="book.link_anhbia" width="120px"/>
                                </td>
                                <td>{{book.tensach}}</td>
                                <td>{{book.theloai}}</td>
                            
                                <td>{{book.soluong}}</td>
                                <td>{{book.gianhap}}</td>
                                <td>{{book.giaban}}</td>
                                <td>{{book.tacgia}}</td>


                                <td>
                                    <button (click)="test()" class="btn btn-fill btn-info">Edit</button>
                                    <button class="btn btn-fill btn-warning">View</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Launch demo modal
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card card-plain">
                <div class="header">
                    <h4 class="title">Table on Plain Background</h4>
                    <p class="category">Here is a subtitle for this table</p>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th *ngFor="let cell of tableData2.headerRow">{{ cell }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of tableData2.dataRows">
                                <td *ngFor="let cell of row">{{cell}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>